doctype html
html(lang='en')
    head
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title #{title}
        link(href='/styles/style.css', rel='stylesheet')
        link(href='https://use.fontawesome.com/releases/v5.7.0/css/all.css', rel='stylesheet', integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ', crossorigin='anonymous')
    nav
        h1 #{title}
        ul
            li
                a(href='#' class="active") Home
            li
                a(href='#') Order
            li
                a(href='#') Reviews
            li
                a(href='#') Login
            li
                a(href="#")
                    i(class='fas fa-shopping-cart') £0.00

    section
        h1 Welcome to the best pizzeria in southsea
        p
            |   Try our new online website which contains our entire takeaway menu! 
            |   It&apos;s so easy to use, fast and convienient. 
            |   You can now order all your favorite dishes and many more delicious options online
            |   and have them delivered straight to your door!
        image(src='/images/la-pizza-a-roma.jpg' width='100%' height='100%')
    
    section
        iframe(width='100%', height='450', frameborder='0', style='border:0', src='https://www.google.com/maps/embed/v1/place?q=po15ea&key=AIzaSyCfWwCqqbJ8tiBum0KDt5lgvtZ25shucoo', allowfullscreen='')

    .footer
        ul
            li
                a(href='#') Privacy policy
            li
                a(href='#') Allergy Information
            li
                a(href='#') Terms and service
            li
                a(href='https://www.paypal.com/uk/webapps/mpp/paypal-popup', title='How PayPal Works', onclick="javascript:window.open('https://www.paypal.com/uk/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=10%, height=10%'); return false;")
                  img(src='https://www.paypalobjects.com/webstatic/mktg/Logo/AM_mc_vs_ms_ae_UK.png', border='0', alt='PayPal Acceptance Mark')
