extends layout

block nav
    nav
        h1 #{title}
        ul
            li
                a(href='/') Home
            li
                a(href='#' class="active") Menu
            li
                a(href='/reviews') Reviews
            li
                a(href="/order")
                    i(class='fas fa-shopping-cart') 
                    = (basket.total % 1 == 0) ? "£" + basket.total + ".00" : "£" + basket.total
block content
    ul
    - for (let x = 0; x <= menu.length -1; x++)
        li(class=menu[x].type)
            p= menu[x].name
            p= menu[x].description
            p= "£" + menu[x].price
            button(onclick="addToBasket("+ x +")") Add to basket
block append scripts
    script(src='/js/menu.js')